@font-face {
    font-family: eduBold;
    src: url(Edu-Bold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: eduBold;
    background-color: rgb(36, 34, 34);
}

.headline{
    height: 15%;
    width:100% ;
    background-color:rgb(218, 138, 19);
    color:black;
}

.headline h1,.headline p{
    margin-left: 5px;
    height: 8vh;
    background-color: rgb(218, 138, 19);
    text-decoration: underline;
    text-shadow: 1px 1px 5px  black;
}

.overview{
  height: 70%;
  width: 100%;
  display: flex;
}

.poster{
    height: 367px;
    width: 250px;
    background-color: darkgreen;
    box-shadow: -5px 3px 20px 3px black;
    border:2px solid rgb(218, 138, 19);
}
.details{
    height:360px;
    width: 100%;
    color: rgb(218, 138, 19);
    text-shadow: 5px 5px 5px  black;
    padding:5px;
}
.details h1, .details h3,.details p{
    margin:8px 5px;
}
.details h3{
    text-decoration: underline;
}

.trailer{
    height: 450px;
    width: 100%;
    background-color: brown;
    float: left;
    border: 2px solid rgb(218, 138, 19);
}
.heading{
    color: rgb(218, 138, 19);
    text-decoration: underline;
    text-shadow: 1px 1px 5px  black;

}
.photos{

    height: 250%;
    width: 100%;
}
.photo1{
    float: left;
    height: 450px;
    width: 50%;
    border: 2px solid rgb(218, 138, 19);
}

.photo2{
    width: 100%;
    border: 2px solid rgb(218, 138, 19);
}
.last{
    height: 110%;
    width: 100%;
    padding:5px;
}
.last p{
    color: rgb(218, 138, 19);
    text-shadow:1px 1px 5px  black;
    margin:8px 5px;
}
.link{
    height: 10%;
    width: 100%;
    text-align:end;
    background-color: rgb(36, 34, 34);
}
a {
text-decoration: none;
display: inline-block;
padding: 8px 16px;
text-align: center;
}

a:hover {
background-color: #ddd;
color: black;
}

.previous {
background-color: #f1f1f1;
color: black;
text-align: center;
}

.next {
background-color: rgb(218, 138, 19);
color: white;
text-align: center;
}

.round {
border-radius: 50%;
}