@font-face {
    font-family: eduBold;
    src: url(Edu-Bold.ttf);
}
*{
    box-sizing: border-box;
    font-family: eduBold;

}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(36, 34, 34);  
}

.heading{
    width: 100%;
    height: 10vh;
    background-color:rgb(218, 138, 19);
    font-size:30px;
    text-shadow:5px 5px 5px  rgb(95, 89, 79);
    display: flex;
    justify-content: space-between;
}
.heading .search{
    border-radius: 15px;
    width: 30vw;
    height: 6vh;
    border: 1px solid black;
    margin: 7px 0px 7px 0px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
    
}
.heading input{
     width: 100%;
    outline: none;
    border: none;
    background: transparent;

}
.icon{
    width: 30vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    
}
   .heading .icon img{
    align-items: center;
    height: 30px;
    width: 30px;
    cursor: pointer;
    border-radius: 10%;
    box-shadow: 5px -2px 20px 1px black;
}
.heading .icon img:hover{
    transform: scale(1.1);
    transition: .5s;
    box-shadow: 2px -3px 50px 1px black;
}

.banner{
    margin: 0px 0px 0px 0px;
    height: 70vh;
    width: 100%;
    background: url(images/banner.jpg) no-repeat ;
    background-size: cover;
    background-position: center;
}
.headline{
    height: 20%;
    width: 100%;
    text-align: center;
    font-size: 15px;
    overflow: hidden;
    color: rgb(218, 138, 19);
    text-shadow: 5px 5px 5px black;
}

.headline h1:hover{
    color: black;
    transition: .3s ease ;
    transform: scale(1.1);
    text-decoration: underline;
    text-shadow:5px -5px 10px  rgb(218, 138, 19);
   
 
}
.photos img{
    border: 2px solid  rgb(218, 138, 19) ;
    border-radius: 5px;
    margin: 4px 2px 2px 0;
}
.photos iframe{
    border-radius: 0px 0px 5px 5px;
}
.photos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    text-align: center;
    text-decoration: underline;
}
.photo{
     height: 500px;
     width: 250px;
     margin:4%;
     border: 2px solid rgb(218, 138, 19);
     border-radius: 5px;
     box-shadow: 5px -5px 20px 10px black;
}
.photo img:hover{
    transform: scale(.9);
    box-shadow: 5px 5px 20px 10px rgb(218, 138, 19);
    transition: .5s;
}

.photo:hover{
    transform: scale(1.04);
    transition: .5s;
    box-shadow: 5px 5px 20px 10px rgb(218, 138, 19);
}

footer{
    height: 25vh;
    width: 100%;
    color: rgb(218, 138, 19);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-shadow: 5px 5px 5px black;
}
.upper-footer{
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width :30px;
    height:30px ;
    background :transparent;
    border: 2px solid rgb(218, 138, 19);
    border-radius :50%;
    color: rgb(218, 138, 19);
    transition:.5s ease;
    margin: 2px;
    padding: 10px;
    text-decoration: none;
}
.social-media a:hover{
    box-shadow: 0 0 1rem  rgb(218, 138, 19);
    background: rgb(218, 138, 19);
    color: black;
}
.bottom-footer{
    height: 12vh;;
    width: 100%;
    text-align: center;
}